torch==2.1.2
torchvision==0.16.2
transformers==4.37.2
tokenizers==0.15.1
sentencepiece==0.1.99
shortuuid

peft

numpy

requests

uvicorn
fastapi

rp
tqdm

shutil

PIL
natsort
clip

git+https://github.com/vimalabs/VimaBench.git
